:root {
    --max-width-1: 1440px;
    --max-width-2: 750px;

    --primary-color-1: hsl(176, 50%, 47%);
    --primary-color-2: hsl(176, 72%, 28%);

    --neutral-color-1: hsl(0, 0%, 0%);
    --neutral-color-2: hsl(0, 0%, 48%);
    --neutral-color-3: #fff;
    --neutral-color-4: #f4f4f4;
    --neutral-color-5: #fafafa;
    --neutral-color-6: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

html {
    font-family: 'Commissioner', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--neutral-color-5);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header,
.main {
    min-width: 320px;
}

/* 
    HEADER
*/
.header {
    width: 100%;
    height: 400px;
    background-image: url("../images/image-hero-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.8rem 1.4rem;
}

.btn-menu {
    width: 20px;
    height: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    position: relative;
    
}

.dot {
    width: 100%;
    height: 3px;
    background-color: var(--neutral-color-3);
    border-radius: 15px;
    transition: all 0.2s linear;
}

.btn-menu--active {
    justify-content: center;
}

.btn-menu--active .dot:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
    left: 0;
}

.btn-menu--active .dot:nth-child(2) {
    display: none;
}

.btn-menu--active .dot:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
    right: 0;
}

.header__menu {
    width: 100%;
    max-width: var(--max-width-1);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 200;
}

.navigation {
    width: 100%;

    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s linear;

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--neutral-color-3);
    border-radius: 10px;
    box-shadow: 0px 0px 1px var(--neutral-color-6);
    z-index: 200;
}

.navigation--show {
    max-height: 300px;
}

.navlink {
    display: inline-block;
    width: 100%;
    padding: 1.4rem 1.2rem;
    color: var(--neutral-color-1);
    font-size: 1.2rem;
    font-weight: 500;
}

.navlist__item:nth-child(1), .navlist__item:nth-child(2) {
    border-bottom: 1px solid var(--neutral-color-2);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.3));
    z-index: 100;

    visibility: hidden;
    opacity: 0;
}

.is-active {
    visibility: visible!important;
    opacity: 1!important;
    transition: all 0.3s linear!important;
}

@media (min-width: 1025px) {
    .header {
        height: 410px;
        background-image: url("../images/image-hero-desktop.jpg");
    }

    .btn-menu {
        display: none;
    }

    .navigation {
        width: unset;
        max-height: unset;
        overflow-y: unset;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    
        visibility: visible;
        opacity: 1;
    }

    .navlist {
        display: flex;
    }

    .navlist__item:nth-child(1),
    .navlist__item:nth-child(2) {
        border: none;
    }

    .navlink {
        padding: 0;
        font-size: 1.1rem;
        color: var(--neutral-color-3);
        position: relative;
    }

    .navlist__item + .navlist__item {
        margin-left: 2rem;
    }

    .navlink::after {
        content: "";
        background-color: var(--neutral-color-3);
        width: 0;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 50%;

        transform: translateX(-50%);
        transition: all 0.2s linear;
    }

    .navlink:hover::after {
        width: 100%;
    }
}

/* 
    MAIN 
*/
.main {
    width: 100%;
}

.main__wrapper {
    width: 88%;
    max-width: var(--max-width-2);
    margin: 0 auto;
    position: relative;
    top: -70px;
}


/* 
    MASTERCRAFT
*/
.box {
    background-color: var(--neutral-color-3);
    border-radius: 10px;
    box-shadow: 0px 0px 1px var(--neutral-color-6);
    margin-bottom: 2rem;
    padding: 2rem;
}

.mastercraft {
    padding: 0 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mastercraft .logo {
    position: relative;
    top: -27px;
}

.title-1 {
    width: 90%;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
}

.paragraph {
    text-align: center;
    line-height: 1.75;
    color: var(--neutral-color-2);
    margin-bottom: 1.1rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 220px;
    height: 60px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-1);
    color: var(--neutral-color-3);
    font-size: 1rem;
    font-weight: 700;
    margin-right: 0.6rem;
}

.btn:hover {
    background-color: var(--primary-color-2);
    transition: background-color 0.2s linear;
}

.btn-bookmark {
    display: flex;
    align-items: center;

    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-bookmark:hover svg circle {
    fill: var(--neutral-color-2);
    transition: fill 0.2s linear;
}

.btn-bookmark span {
    display: none;
    color: var(--neutral-color-2);
    font-weight: 700;
    font-size: 1rem;
}

.btn-bookmark.btn-bookmark--active svg circle {
    fill: var(--primary-color-2);
    transition: fill 0.2s linear;
}

.btn-bookmark.btn-bookmark--active svg path {
    fill: var(--neutral-color-5);
    transition: fill 0.2s linear;
}

.btn-bookmark.btn-bookmark--active span {
    color: var(--primary-color-2);
    transition: color 0.2s linear;
}

@media (min-width: 666px) {
    .mastercraft {
        padding: 0 3rem 3rem;
    }
    .btn-bookmark {
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .btn-bookmark span {
        display: inline-block;
        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 
    STATS
*/
.stats__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.stat__number {
    text-align: center;
    font-size: 2rem;
}

.stat .paragraph {
    font-size: 0.9rem;
    margin: 0;
}

.stats__wrapper hr {
    width: 80px;
    margin-bottom: 1.2rem;
}

.progress {
    width: 100%;
    height: 15px;
    background-color: var(--neutral-color-4);
    border-radius: 10px;
}

.progress-bar {
    width: 89.914%;
    height: 100%;
    background-color: var(--primary-color-1);
    border-radius: 10px;
}

@media (min-width: 700px) {
    .stats {
        padding: 3rem;
    }

    .stats__wrapper {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    .stat {
        align-items: flex-start;
        margin: 0;
    }

    .stats__wrapper hr {
        width: 60px;
        transform: rotate(90deg);
        margin: 0 1rem 0 0;
    }

    .stat:nth-child(3) {
        margin-right: 4rem;
    }
}

/* 
    ABOUT THIS PROJECT
*/
.title-2 {
    width: 100%;
    margin-bottom: 1.4rem;
}

.about-project .paragraph {
    text-align: initial;
    margin-bottom: 1.4rem;
}

.project {
    background-color: var(--neutral-color-3);
    border-radius: 10px;
    box-shadow: 0px 0px 1px var(--neutral-color-1);
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__header {
    width: 86%;
    margin: 1.4rem 0;
}

.title-3 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.title-4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color-1);
}

.project .paragraph,
.project__footer {
    width: 86%;
}

.project__footer {
    margin-bottom: 1.4rem;
}

.member-vacancies {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.remaining-vacancies {
    font-size: 2rem;
    margin-right: 0.6rem;
} 

.member-vacancies span {
    color: var(--neutral-color-2);
}

.project .btn {
    width: 190px;
    height: 55px;
    font-size: 0.9rem;
}

.disabled {
    user-select: none;
    opacity: 0.5;
    cursor: no-drop;
}

.btn--disabled, 
.btn--disabled:hover {
    background-color: var(--neutral-color-6);
    cursor: no-drop;
}

@media (min-width: 800px) {
    .about-project {
        padding: 3rem;
    }

    .title-3,
    .member-vacancies {
        margin: 0;
    }

    .project__header,
    .project__footer  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* 
    MODAL DEFAULT
*/

.modal-default {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.3));
    z-index: 200;

    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-default__content {
    width: 88%;
    max-width: var(--max-width-2);
    height: 80vh;
    max-height: 800px;
    overflow-y: auto;

    position: relative;
}

.modal-default__content > .paragraph {
    text-align: initial;
}

.btn-close-modal {
    position: absolute;
    top: 2.4rem;
    right: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pledge {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pledge--selected {
    border: 2px solid var(--primary-color-1);
}

.select {
    width: 86%;
    margin: 1.4rem 0;
    display: flex;
    align-items: center;
}

.input {
    width: 22px;
    height: 22px;
    margin-right: 0.6rem;
}

.input input {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--neutral-color-2);
    position: relative;
    appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    cursor: pointer;
}

.input input:checked {
    border: 1px solid var(--primary-color-1);
}

.input input:checked::after {
    content: "";
    width: 72%;
    height: 72%;
    border-radius: 50%;
    background-color: var(--primary-color-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select__name label {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

.pledge .paragraph {
    width: 86%;
    text-align: initial;
}

.pledge .member-vacancies {
    width: 86%;
    margin-bottom: 1.4rem;
}

.pledge-amount {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.2s linear;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pledge-amount--show {
    max-height: 300px;
    border-top: 1px solid var(--neutral-color-2);
}

.pledge-amount .paragraph {
    text-align: center;
    margin: 1.4rem 0;
}

.amount {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.4rem;
}

.amount__input {
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--neutral-color-2);
    border-radius: 50px;
}

.amount__input span {
    width: 40%;
    color: var(--neutral-color-2);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount__input input {
    height: 100%;
    width: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
}

.amount__input--focused {
    border: 1px solid var(--primary-color-1);
}

.amount .btn {
    width: 130px;
    margin: 0;
}

.select__name {
    display: flex;
    flex-direction: column;
}

.select__name label + span {
    margin-top: 0.6rem;
}

.disabled input,
.disabled label {
    cursor: no-drop;
}

@media (max-width: 400px) {
    .amount {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.4rem;
    }

    .amount__input {
        margin-bottom: 1.4rem;
    }
}

@media (min-width: 1025px) {
    .pledge-amount {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pledge-amount .paragraph,
    .pledge-amount .amount {
        margin: 1.4rem 0;
    }
}

/* 
    MODAL SUCCESS
*/
.modal-success {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.3));
    z-index: 200;

    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-success__content {
    width: 88%;
    max-width: 420px;
    height: 70vh;
    max-height: 500px;
    overflow-y: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal-success__content .title-2 {
    text-align: center;
}

.modal-success__content .btn {
    width: 120px;
}